.nav-root {
  position: sticky;
  right: 1em;
  bottom: 0;
  background-color: #084298;
  padding: 0.3em;
  text-align: right;
}

.nav-root > button {
  margin: 0 0.5em;
}

.nav-root > button:first-of-type {
  margin-left: 0;
}

.nav-root > button:last-of-type {
  margin-right: 0;
}

button > a:link {
  color: #fff;
}
button > a:visited {
  color: #fff;
}
button > a:hover {
  color: #fff;
}
button > a:active {
  color: #fff;
}
