.sticky {
  position: -webkit-sticky;
  position: fixed;
  bottom: 0;
  height: 3em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  width: 100%;
  background: yellow;
  background-color: #084298;
  z-index: 1;
}

.nav-root > .row > .col {
  padding: 0;
}

.col {
  text-align: center;
}

button {
  margin: 0 0.5em;
}

button:first-of-type {
  margin-left: 0;
}

button:last-of-type {
  margin-right: 0;
}

button > a:link {
  color: #fff;
}
button > a:visited {
  color: #fff;
}
button > a:hover {
  color: #fff;
}
button > a:active {
  color: #fff;
}
